:root {
    --color-primary: #1ab69d;
    --color-secondary: #ee4a62;
    --color-textSecondary: #ff5b5c;
    --color-tertiary: #f8b81f;
    --color-dark: #111212;
    --color-heading: #181818;
    --color-border: #e5e5e5;
    --color-body: gray;
    --gradient-primary: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
    --bg-color: #EAF0F2;
    --cta-color-bg: #F0F4F5;
    --color-bg-body: #fff;
    --color-white: #fff;
    --color-black: #000;
    --footer-text: #181818;
    --edu-btn-color: #fff;
    --color-lighten01: #f0f4f5;
    --color-lighten02: #edf5f8;
    --color-lighten03: #f5f1eb;
    --color-lighten04: #f7f5f2;
    --color-extra01: #0ecd73;
    --color-extra02: #8e56ff;
    --color-extra03: #f92596;
    --color-extra04: #5866eb;
    --color-extra05: #f8941f;
    --color-extra06: #39c0fa;
    --color-extra07: #da04f8;
    --color-extra08: #4664e4;
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-placeholder: gray;
    --color-facebook: #1877f2;
    --color-twitter: #1da1f2;
    --color-youtube: #cd201f;
    --color-linkedin: #0a66c2;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;
    --border-width: 2px;
    --radius-small: 4px;
    --radius: 10px;
    --radius-big: 16px;
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --shadow-darker: 0 10px 50px 0 rgba(26, 46, 85, .1);
    --shadow-darker2: 0 20px 50px 0 rgba(26, 46, 85, .1);
    --shadow-dark: 0 10px 30px 0 rgba(20, 36, 66, .15);
    --shadow-darkest: 0 10px 30px 0 rgba(0, 0, 0, .05);
    --transition: 0.3s;
    --transition-2: 0.5s;
    --transition-transform: transform .65s cubic-bezier(.23, 1, .32, 1);
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Spartan', sans-serif;
    --font-icomoon: 'icomoon';
    --font-size-b1: 15px;
    --font-size-b2: 13px;
    --line-height-b1: 1.73;
    --line-height-b2: 1.85;
    --h1: 50px;
    --h2: 36px;
    --h3: 28px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --h1-lineHeight: 1.2;
    --h2-lineHeight: 1.39;
    --h3-lineHeight: 1.43;
    --h4-lineHeight: 1.4;
    --h5-lineHeight: 1.45;
    --h6-lineHeight: 1.62
}

.dark-mode {
    --color-primary: #1ab69d;
    --color-secondary: #ee4a62;
    --color-textSecondary: #ff5b5c;
    --color-tertiary: #f8b81f;
    --color-dark: #111212;
    --color-heading: #fff;
    --color-border: #282f3a;
    --gradient-primary: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%);
    --bg-color: #020b17;
    --bg-color-2: #1c242f;
    --cta-color-bg: #020b17;
    --color-bg-body: #111822;
    --color-white: #000;
    --color-black: #fff;
    --edu-btn-color: #fff;
    --footer-text: gray;
    --color-title: #bababa;
    --color-lighten01: #020b17;
    --color-lighten02: #edf5f8;
    --color-lighten03: #f5f1eb;
    --color-lighten04: #020b17;
    --color-extra01: #0ecd73;
    --color-extra02: #8e56ff;
    --color-extra03: #f92596;
    --color-extra04: #5866eb;
    --color-extra05: #f8941f;
    --color-extra06: #39c0fa;
    --color-extra07: #da04f8;
    --color-extra08: #4664e4;
    --color-extra09: #525151;
    --color-extra10: #404040;
    --color-extra11: #22272e;
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-placeholder: gray;
    --color-facebook: #1877f2;
    --color-twitter: #1da1f2;
    --color-youtube: #cd201f;
    --color-linkedin: #0a66c2;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;
    --form-control-bg: #1f2732
}
.dark-mode.footer-two-dark .edu-footer.footer-style-2 {
    background-color: var(--bg-color-2)
}

body {
 color: black;
}